# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node dependencies and logs
/node_modules
npm-debug.log*
yarn-error.log*

# IDE and editor configuration
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code configuration
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Miscellaneous files and logs
/.angular/cache
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/

# System-specific files
.DS_Store
Thumbs.db
